#playlist-new
  %h2 Add a playlist
  = simple_form_for Video.new, url: admin_videos_path do |f|
    = f.input :url, label: 'key', required: false
    = f.input :category_id, as: :hidden, input_html: { value: @category.id }
    = f.input :is_playlist, as: :hidden, input_html: { value: true }
    .form-actions
      = f.button :submit, 'Add'