.row
  .col-xs-6
    = render 'admin/categories/new'
    %hr
    %ul.list-group
      - Category.all.each do |category|
        %li.list-group-item
          = link_to category.name, admin_category_path(category.id)
          %span.badge
            = "Playlists : #{category.playlists.count}"
          %span.badge
            = "Videos : #{category.videos.count}"
  .col-xs-6
    = render 'admin/artists/new'
    %hr
    %ul.list-group
      - Artist.all.each do |artist|
        %li.list-group-item
          = link_to artist.name, admin_artist_path(artist.id)
          %br
          = link_to 'X', admin_artist_path(artist.id), method: :delete
