.col-xs-12.col-md-6
  #week-video-new
    %h2 Add a video
    = simple_form_for Video.new, url: admin_videos_path do |f|
      = f.input :url, label: 'key', required: false, autofocus: true
      = f.input :category_id, as: :hidden, input_html: { value: category.id }
      .form-actions
        = f.button :submit, 'Add'
  %hr
  - if category.videos.videos.count.zero?
    = 'No videos'
  - category.videos.videos.each do |video|
    .media.col-xs-12
      = link_to '#', class: 'pull-left' do
        = image_tag video.image_preview_url, width: '120'
      .media-body
        %h4.media-heading
          = video.title
          = link_to admin_video_path(video.id), method: :delete do
            %span.glyphicon.glyphicon-remove{ style: 'color: hsl(2, 65%, 50%)' }
        Created : 
        = video.created_at.to_formatted_s(:long_ordinal)
.col-xs-12.col-md-6
  #playlist-new
    %h2 Add a playlist
    = simple_form_for Video.new, url: admin_videos_path do |f|
      = f.input :url, label: 'key', required: false
      = f.input :category_id, as: :hidden, input_html: { value: category.id }
      = f.input :is_playlist, as: :hidden, input_html: { value: true }
      .form-actions
        = f.button :submit, 'Add'
  %hr
  - if category.videos.playlists.count.zero?
    = 'No playlist'
  - category.videos.playlists.order('updated_at DESC').each do |playlist|
    .media.col-xs-12
      = link_to '#', class: 'pull-left' do
        = image_tag playlist.image_preview_url, width: '120'
      .media-body
        %h4.media-heading
          = playlist.title
          = link_to admin_video_path(playlist.id), method: :delete do
            %span.glyphicon.glyphicon-remove{ style: 'color: hsl(2, 65%, 50%)' }
        %br
        Created : 
        = playlist.created_at.to_formatted_s(:long_ordinal)