.jumbotron
  %h1
    = link_to @category.name, admin_category_path(@category)
    - if @subcategory
      = " - #{@subcategory.name}"
.row
  - if @subcategory
    = render 'admin/categories/subcategory_show', subcategory: @subcategory, videos: @videos, playlists: @playlists
  - else
    = render 'admin/categories/category_show', category: @category
