.jumbotron
  %h1= @category.name
.row
  .col-xs-12.col-md-6
    = render 'admin/videos/new'
    %hr
    - if @videos.count.zero?
      = 'No videos'
    - @videos.each do |video|
      .media.col-xs-12
        = link_to '#', class: 'pull-left' do
          = image_tag video.image_preview_url
        .media-body
          %h4.media-heading
            = video.title
            = link_to 'X', admin_video_path(video.id), method: :delete, class: 'pull-right btn btn-danger'
          Created : 
          = video.created_at.to_formatted_s(:long_ordinal)
  .col-xs-12.col-md-6
    = render 'admin/playlists/new'
    %hr
    - if @playlists.count.zero?
      = 'No playlist'
    - @playlists.order('updated_at DESC').each do |playlist|
      .media.col-xs-12
        = link_to '#', class: 'pull-left' do
          = image_tag playlist.image_preview_url, size: '120x90'
        .media-body
          %h4.media-heading
            = playlist.title
            = link_to 'X', admin_playlist_path(playlist.id), method: :delete, class: 'pull-right btn btn-danger'
          / TODO: Playlist video count
          / # = "Videos count : #{playlist..count}"
          %br
          Created : 
          = playlist.created_at.to_formatted_s(:long_ordinal)

