.jumbotron
  %h1= @category.name
= render 'admin/playlists/new'
%hr
- if @category.playlists.count.zero?
  = 'Aucune playlists'
= cache([@category, @category.playlists.maximum(:updated_at), @category.playlists.count]) do
  - @category.playlists.order('updated_at DESC').each do |playlist|
    .media.col-xs-6
      - vid = VideoInfo.new(playlist.url)
      = link_to '#', class: 'pull-left' do
        = image_tag vid.videos.sample.thumbnail_small
      .media-body
        %h4.media-heading
          = vid.title
          = link_to 'X', admin_playlist_path(playlist.id), method: :delete, class: 'pull-right btn btn-danger'
        = "Nombre de videos : #{vid.videos.count}"
