.jumbotron
  %h1= @category.name

= cache([@category, @category.playlists.maximum(:updated_at), @category.playlists.count]) do
  - @category.playlists.order('updated_at DESC').each do |playlist|
    .media.col-xs-6
      = link_to playlist_path(playlist.id), class: 'pull-left' do
        = image_tag playlist.image_preview_url.thumbnail_small
      .media-body
        %h4.media-heading
          = playlist.title
        = "Nombre de videos : #{vid.videos.count}"