!!!5
%html
  %head
    %title Mek We Dweet TV - Bass Music Pon de Internet
    %base{ href: '/' }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body{ data: { 'ng-app' => 'Dweet'} }
    #main-menu.col-md-2
      #logo
        = link_to 'Mek We Dweet Tv', root_path
      %ul
        - Category.main_category.select('id, name, updated_at').order('categories.created_at DESC').each do |category|
          %li
            = link_to category.name, "categories/#{category.slug}"
    #view{ data: { 'ng-view' => '' } }

    = javascript_include_tag 'application'
